<div class="container">
  <form action="/checklists/<%= @checklist.id %>/sightings/<%= @sighting.id %>" method="POST">
    <input type="text" name="sighting[species]" value="<%= @sighting.species %>"><br>
    <input type="text" name="sighting[count]" value="<%= @sighting.count %>"><br>
    <input type="text" name="sighting[distance]" value="<%= @sighting.distance %>"><br>
    <input type="text" name="sighting[observation_type]" value="<%= @sighting.observation_type %>"><br>
    <input type="text" name="sighting[location]" value="<%= @sighting.location %>"><br>
    <input type="text" name="sighting[habitat]" value="<%= @sighting.habitat %>"><br>
    <input type="text" name="sighting[vegetation]" value="<%= @sighting.vegetation %>"><br>
    <input type="hidden" name="_method" value="PUT">
    <input type="submit" value="Submit">
  </form>
</div>
