<div class='container col-md-3'>
  <h2><%= "Hi, #{current_user.username}" %></h2>

  <div id="add-checklist">
    <p>Add a new <a id="checklist-form" href="/checklists/new">checklist</a></p>
  </div>

  <div id="user-checklists">
    <ul>
      <% @user.checklists.each do |checklist| %><br>
        <li><a href="/checklists/<%= checklist.id %>"><%= checklist.list_name %></a></li>
      <% end %>
    </ul>
  </div>
  <div id="edit-profile">
  <p><a href="/users/<%= current_user.id %>/edit">Edit</a> your profile</p>
</div>
</div>


<div id="floating-panel">
  <input id="address" type="textbox" value="San Francisco, CA">
  <input id="submit" type="button" value="Search">
</div>
<div id="map">
<script>


</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["AUTH_KEY"] %>&callback=initMap">

</script>
</div>

