<h2><%= @checklist.list_name %></h2>
<h3><%= @checklist.location %></h3>
<h3><%= @checklist.datetime %></h3>
<p><a href="/checklists/<%= @checklist.id %>/edit">Edit</a> the checklist</p>

<p>Add a new <a href="/sightings/new">sighting</a></p>

<!-- list of all sightings for the checklist -->
<% @checklist.sightings.each do |sighting| %>
  <ul>
    <li>
      <%= @sighting.species %>
      <%= @sighting.count %>
      <%= @sighting.distance %>
      <%= @sighting.observation_type %>
      <%= @sighting.location %>
      <%= @sighting.habitat %>
      <%= @sighting.vegetation %>
    </li>
  </ul>
<% end %>


  <form id="Delete checklist" action="/checklists/<%= @checklist.id%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
  </form>

